/target
/build
/local.properties
.vscode/
.cargo/
.extensions/

# Plugins build artifacts
.plugins/*.wasm
.plugins/*/target/
.plugins/*/build/
.plugins/*/local.properties
.plugins/*.vscode/
.plugins/*.cargo/
.plugins/*.extensions/
.plugins/.cache/
release.*